@import "variables";

.bank-details {
  background-image: url("../images/bg/wisper.jpg");
  margin-bottom: 20px;
  padding: 60px 0px;
  color: #fff;
}

.sterling__logo {
  width: 12em;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

.fund-button {
  width: 12em;
  // background-image: url("../images/bg/wisper.jpg");
  background-color: $primary;
  border: none;
  border-radius: unset;
  color: #fff;
  padding: 1em 0;
  font-weight: bold;
}
