@import "variables";

.bank-details {
  background-image: url("../images/bg/wisper.jpg");
  margin-bottom: 20px;
  padding: 60px 0px;
  color: #fff;
}

.sterling__logo {
  width: 12em;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

// Component: PaymentButton
.fund-button {
  width: 12em;
  border-radius: 5px;
  // background-image: url("../images/bg/wisper.jpg");
  background-color: $primary;
  border: none;
  color: #fff;
  padding: 1em 0;
  font-weight: bold;
}

// Component: TransactionTable
.legend-container {
  display: flex;
  gap: 0.8em;
  position: absolute;
  margin-right: 10px;
  top: 1.5em;
  right: 0;
  font-size: 0.9rem;
  .legend span {
    padding: 0.5em;
  }
  @media (max-width: 570px) {
    flex-direction: column;
    position: unset;
    gap: 0;
    .legend {
      margin-bottom: 0.3em;
    }
    .legend span {
      padding: 0.4em;
    }
  }
}

// Component: AllocateButton
.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.confirm-warn {
  width: 4em;
  filter: invert(76%) sepia(21%) saturate(1888%) hue-rotate(355deg)
    brightness(107%) contrast(111%);
}

.confirm-cancel {
  width: 4em;
  filter: invert(19%) sepia(89%) saturate(7228%) hue-rotate(352deg)
    brightness(83%) contrast(105%);
}

.confirm-checked {
  width: 4em;
  filter: invert(54%) sepia(13%) saturate(1994%) hue-rotate(68deg)
    brightness(101%) contrast(92%);
}

.confirm-footer {
  display: flex;
  justify-content: center;
}
